body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
    line-height: 1.25;
    background-color: #FFDCD4;
}

h1 {
    font-size: 3em;
}

.bio {
    font-family: 'Times New Roman', Times, serif;
    background-color: #ffffff;
    padding: 1em;
    font-size: 14px;
    line-height: 2;
    color: #21221A;
}

h3 {
    text-transform: uppercase;
    font-size: 1em;
}

.notable_accolades {
    background-color: #ff6c6c;
    padding: 1em;
    font-size: 1em;
    line-height: 1.5;
    color: #21221A;
}

.early_life {
    font-family: 'Times New Roman', Times, serif;
    background-color: #ffffff;
    padding: 1em;
    font-size: 14px;
    line-height: 2;
    color: #21221A;
}

.senior_career {
    font-family: 'Times New Roman', Times, serif;
    background-color: #ffffff;
    padding: 1em;
    font-size: 14px;
    line-height: 2;
    color: #21221A;
}

section {
    margin: 1em 0;
}

main {
    width: 70%;
}

img {
    width: 100%;
}

a {
    color: #803513;
}