@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

body {
    font-family: "Open Sans", sans-serif;
    font-size: 15px;
}

.bg-img {
    height: 100vh;
    width: 100vw;
    object-fit: cover;
}

.nav-link, .navbar-brand {
    font-size: 2em;
    margin-right: 50px;
    color:rgb(255, 255, 255)   
}

.navbar-brand {
    color:rgb(255, 255, 255)   
}

.bio {
    padding: 60px;
    font-size: 2em;
}

.navbar {
    position: absolute;
    width: 100%;
    top: 0;
    z-index: 1;
}

.contact {
    font-size: 3em;
    padding-top: 60px;
}